*, 
*::before, 
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*:focus {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;
}

:root {
    --main-color: #9f5f80;
    --black-color-text: #0E101A;
    --grey-color-text: #616161;
}

ul {
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
}

input,
button {
    font-family: 'Poppins', sans-serif;
}

button {
    cursor: pointer;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 150px;
    background-color: #9f5f80;
}

header p {
    font-family: 'Dancing Script', cursive;
    color: #9f5f80;
    font-size: 2.3em;
    background-color: #fff;
    padding: 2px 6px;
    border-radius: 4px;
}

header p:last-of-type {
    margin-top: 7px;
}

main {
    margin-top: 60px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.initial-container p {
    margin-top: 20px;
    font-size: 0.85em;
    color: var(--grey-color-text);
}

.start-button-image {
    position: relative;
    z-index: 1;
    border: none;
    background-color: transparent;
}

.start-button-image img {
    width: 100px;
}

.start-button-image:before {
    content: '';
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: absolute;
    z-index: -1;
    top: 15px;
    left: -15px;
    background-color: rgba(159, 95, 128, 0.9);
}

.start-button-text {
    border: none;
    background-color: transparent;
    font-size: 1.05em;
    font-weight: 700;
    color: var(--grey-color-text);
}

.main-container {
    /* border: 1px solid; */
    display: none;
    width: 100%;
}

.form-add-food {
    display: grid;
    grid-template-columns: 85% 15%;
    width: 100%;
}

.input-add-food,
.button-add-food {
    padding: 12px 10px;
    border: 2px solid transparent;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.15);
    transition: all 0.3s linear;
}

.input-add-food {
    font-size: 0.9em;
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-add-food::placeholder {
    color: rgba(0, 0, 0, 0.7);
}

.button-add-food {
    position: relative;
    font-size: 1.8em;
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.button-add-food::before {
    content: '+';
    position: absolute;
    top: 50%;
    left: 50%;
    color: rgba(0, 0, 0, 0.7);
    font-weight: 700;
    transform: translate(-50%, -50%);
}

.input-add-food:hover,
.input-add-food:focus {
    border: 2px solid rgba(159, 95, 128, 0.8);
    border-right: none;
    background-color: transparent;
}

.input-add-food:hover + .button-add-food,
.input-add-food:focus + .button-add-food {
    border: 2px solid rgba(159, 95, 128, 0.8);
    border-left: none;
    background-color: transparent;
}

.amount-of-foods {
    color: #616161;
    font-size: 0.9em;
    margin-top: 30px;
}

.list-of-foods {
    display: none;
    margin-bottom: 30px;
    color: var(--black-color-text);
}

.list-of-foods li {
    display: inline;
}

.food-highlight {
    font-weight: 700;
}

.action-buttons {
    margin-top: 25px;
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* border: 1px solid; */
}

.button-get-food {
    padding: 10px 25px;
    border: none;
    border-bottom: 4px solid rgb(95, 40, 69);
    border-radius: 5px;
    font-weight: 0.9em;
    font-weight: 700;
    color: #fffafa;
    margin-right: 10px;
    transition: background-color 0.3s linear;
}

.button-open-edit-foods {
    background-color: transparent;
    border: none;
    padding: 10px 25px;
    color: #616161;
}

.button-open-edit-foods:hover {
    text-decoration: underline;
}





.result-container {
    display: none;
    border: 1px solid;
}

.selectable-foods {
    margin: 20px 0;
    border: 1px solid red;
}

.display-selectable-food {
    animation: a 1s ease;
}

@keyframes a {
    0% {
        transform: translateX(0px);
        color: green;
    }
    50% {
        transform: translateX(50px);
        color: blue;
    }
    100% {
        transform: translateX(0px);
        color: red;
    }
}

.selected-food {
    border: 1px solid blue;
    margin: 20px 0;
}

.loading-spinner {
    display: none;
    border: 4px solid red;
    border-top: 4px solid blue;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    animation: loading-spinner 1.2s linear infinite;
}

@keyframes loading-spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}









.notification {
    display: none;
    width: 80%;
    border: 1px solid rgba(159, 95, 128, 0.5);
    border-radius: 2px;
    position: absolute;
    top: 30px;
    opacity: 0;
    font-size: 0.9em;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.05);
}

.display-notification {
    display: block;
    animation: animation-notification 0.2s linear forwards;
}

@keyframes animation-notification {
    from { 
        top: 30px;
        opacity: 0;
    } to {
        top: 50px;
        opacity: 1;
    }
}










/* Adjust scroll when user is using desktop version (add media query) */

.container-edit-foods {
    display: none;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.display-edit-foods {
    display: block;
}

.content-edit-foods {
    background-color: #9f5f80;
    color: #fffafa;
    padding: 30px 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.edit-foods-info {
    text-align: center;
    margin-bottom: 30px;
}

.edit-foods-info h1 {
    font-size: 1.1em;
    font-weight: 700;
    margin-bottom: 6px;
}

.edit-foods-info h2 {
    font-size: 0.9em;
    font-weight: 400;
}

.editable-foods {
    list-style: none;
    max-height: 45vh;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding-left: 15px;
}

.editable-foods::-webkit-scrollbar {
    display: none;
}

.editable-foods li {
    margin-bottom: 12px;
    display: grid;
    grid-template-columns: 85% 15%;
}

.editable-foods li:last-of-type {
    margin-bottom: 0;
}

.input-rename-food {
    padding: 6px 10px;
    font-size: 0.9em;
    background-color: #ffffff;
    border: 3px solid #5f2d47;
    border-radius: 5px;
}

.button-delete-food {
    border: none;
    background-color: transparent;
    font-size: 1.8em;
    font-weight: 700;
    color: #fffafa;
}

.button-close-edit-foods {
    display: block;
    margin: 30px auto 0 auto;
    padding: 10px 25px;
    border-radius: 10px;
    font-size: 0.9em;
    font-weight: 700;
    border: 2px solid #fffafa;
    background-color: #5f2d47;
    color: #fffafa;
}






/* Hide when input add food is being focused */

.background-images {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: red;
    padding: 10px 0;
}

.background-images img {
    width: 48px;
}