*, 
*::before, 
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*:focus {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: 'Poppins', sans-serif;
}

input,
button {
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: #f38181;
    padding: 40px 10px;
}

header h1 {
    color: #fffafa;
    font-size: 2em;
    font-family: 'Dancing Script', cursive;
}

.form-add-food {
    border: 1px solid red;
    display: none;
}

.button-add-food-enabled {
    border: 1px solid red;
}

.list-of-foods {
    list-style: none;
}

.list-of-foods li {
    display: inline;
}

.food-highlight {
    color: #3b3b3b;
    font-weight: 700;
}

.button-get-food {
    display: none;
    padding: 10px 15px;
    border: none;
    border-bottom: 4px solid #070d59;
    border-radius: 5px;
    font-weight: 0.9em;
    font-weight: 700;
    background-color: #07689f;
    color: #fffafa;
}

.food-selected {
    border: 1px solid blue;
}

.a {
    animation: a 1s ease;
}

@keyframes a {
    0% {
        transform: translateX(0px);
        color: green;
    }
    50% {
        transform: translateX(50px);
        color: blue;
    }
    100% {
        transform: translateX(0px);
        color: red;
    }
}

.loading-spinner {
    display: none;
    border: 4px solid red;
    border-top: 4px solid blue;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    animation: loading-spinner 1.2s linear infinite;
}

@keyframes loading-spinner {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}













.wrapper-edit-foods {
    display: none;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.display-edit-foods {
    display: block;
}

.content-edit-foods {
    position: relative;
    background-color: #9f5f80;
    color: #fffafa;
    height: 80vh;
    padding: 30px 20px 0 20px;
}

.edit-foods-info {
    text-align: center;
    margin-bottom: 30px;
}

.edit-foods-info h1 {
    font-size: 1.1em;
    font-weight: 700;
    margin-bottom: 6px;
}

.edit-foods-info h2 {
    font-size: 0.9em;
    font-weight: 400;
}

.editable-foods {
    list-style: none;
    max-height: 45vh;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.editable-foods::-webkit-scrollbar {
    display: none;
}

.editable-foods li {
    margin-bottom: 12px;
    position: relative;
    display: grid;
    grid-template-columns: 85% 15%;
}

.editable-foods li:last-of-type {
    margin-bottom: 0;
}

.input-rename-food {
    padding: 6px 10px;
    font-size: 0.9em;
    background-color: #ffffff;
    border: 3px solid #5f2d47;
    border-radius: 5px;
}

.button-delete-food {
    border: none;
    background-color: transparent;
    font-size: 1.8em;
    font-weight: 700;
    color: #fffafa;
}

.button-close-edit-foods {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    padding: 10px 25px;
    border-radius: 10px;
    font-size: 0.9em;
    font-weight: 700;
    border: 2px solid #fffafa;
    background-color: #5f2d47;
    color: #fffafa;
}